01 Import Libraries and Data

02 Remove PII Data

03 Segment by Regions

04 Remove Low Spenders

01 Import Libraries and Data

In [ ]:
#import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [ ]:
#import data 
path = r'/Users/Owner/Documents/CareerFoundry/Data Immersion/Achievement 4/01-07-2024 Instacart Basket Analysis'

In [ ]:
path

In [ ]:
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_all.pkl'))

In [ ]:
df.info()

In [ ]:
df.head()

02 Remove PII Data

In [ ]:
#drop first and last name columns
df = df.drop(columns = ['First Name','Last Name'])

In [ ]:
#check output
df.head()

03 Segment by Regions

In [ ]:
#define west region
west_states = ['California', 'Idaho', 'Montana', 'Wyoming', 'Nevada',
               'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska',
               'Washington', 'Oregon', 'Hawaii']

In [ ]:
#establish region column
df.loc[df['State'].isin(west_states), 'region'] = 'West'

In [ ]:
#define south region
south_states = ['Oklahoma', 'Texas', 'Arkansas', 'Louisiana', 'Kentucky', 
                'Tennessee', 'Mississippi', 'Alabama', 'Delaware', 
                'Maryland', 'District of Columbia', 'Virginia',
                'West Virginia', 'North Carolina', 'South Carolina', 
                'Georgia', 'Florida']

In [ ]:
#put south states in region column
df.loc[df['State'].isin(south_states), 'region'] = 'South'

In [ ]:
#define midwest states
midwest_states = ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 
                  'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 
                  'Minnesota', 'Iowa', 'Missouri']

In [ ]:
#add midwest states to region
df.loc[df['State'].isin(midwest_states), 'region'] = 'Midwest'

In [ ]:
#define northeast states
northeast_states = ['New York', 'Pennsylvania', 'New Jersey', 'Maine', 
                    'New Hampshire', 'Vermont', 'Massachusetts', 
                    'Rhode Island', 'Connecticut']

In [ ]:
df.loc[df['State'].isin(northeast_states), 'region'] = 'Northeast'

In [ ]:
#display output
df['region'].value_counts (dropna = False)

In [ ]:
#check output as head
df.loc[:,['State', 'region']].head()

In [ ]:
#create crosstab
crosstab = pd.crosstab(df['spending_flag'], df['region'], dropna = False)

In [ ]:
#add to clipboard
crosstab.to_clipboard()

In [ ]:
print(crosstab)

Distribution does not show significant differences. Regions with lots of high spenders also have lots of low spenders

04 Remove Low Spenders

In [ ]:
#create activity level flag
df.loc[df['max_order'] < 5, 'activity_lev'] = 'Low activity'

In [ ]:
df.loc[df['max_order'] >= 5, 'activity_lev'] = 'High activity'

In [ ]:
list(df.columns)

In [ ]:
#check activity lev output
df['activity_lev'].value_counts(dropna = False)

In [59]:
#create new dataset without low activity customers
df_excluded = df[df['activity_lev'] != 'Low activity']

In [61]:
#check output
df_excluded.loc[:,['activity_lev']].head()

    activity_lev
0  High activity
1  High activity
2  High activity
5  High activity
6  High activity

In [63]:
df_excluded.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,...,frequency_flag,Gender,State,Age,Date_joined,Number_of_dependents,Marital_status,Income,region,activity_lev
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest,High activity
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest,High activity
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,Frequent customer,Female,Vermont,66,6/16/2018,2,married,158302,Northeast,High activity
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,...,Regular customer,Female,Hawaii,51,1/4/2019,2,married,57797,West,High activity
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,2,...,Regular customer,Male,District of Columbia,20,5/8/2019,3,living with parents and siblings,34171,South,High activity

In [65]:
#export excluded data
df_excluded.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_excluded.pkl'))