01 Import Libraries and Datasets

02 Clean and Prepare Data

03 Merge Datasets

01 Import Libraries and Datasets

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [15]:
#Import ords_prior
path = r'/Users/Owner/Documents/CareerFoundry/Data Immersion/Achievement 4/01-07-2024 Instacart Basket Analysis'

In [17]:
path

'/Users/Owner/Documents/CareerFoundry/Data Immersion/Achievement 4/01-07-2024 Instacart Basket Analysis'

In [21]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [23]:
#check output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [25]:
df_ords_prior.shape

(32434489, 4)

In [27]:
#Import Original Orders Data Set
df_orders_cleaned = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned_2.csv'), index_col = False)

In [31]:
#check output
df_orders_cleaned.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,customer_status
0,0,0,2539329,1,prior,1,2,8,NaN,New
1,1,1,2398795,1,prior,2,3,7,15.0,Existing
2,2,2,473747,1,prior,3,3,12,21.0,Existing
3,3,3,2254736,1,prior,4,4,7,29.0,Existing
4,4,4,431534,1,prior,5,4,15,28.0,Existing

In [33]:
df_orders_cleaned.shape

(3421083, 10)

02 Clean and Prepare Data

In [41]:
column_names = list(df_orders_cleaned.columns)

In [43]:
column_names

['Unnamed: 0.1',
 'Unnamed: 0',
 'order_id',
 'user_id',
 'eval_set',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order',
 'customer_status']

In [55]:
#Remove Unnecessary columns
#Accidentally ran it twice, can't get rid of error msg
df_orders_cleaned = df_orders_cleaned.drop(['Unnamed: 0.1', 'Unnamed: 0', 'customer_status'], axis=1)

KeyError: "['Unnamed: 0.1', 'Unnamed: 0', 'customer_status'] not found in axis"

In [47]:
df_orders_cleaned.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [53]:
df_orders_cleaned.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [57]:
df_orders_cleaned.shape

(3421083, 7)

In [59]:
#Simplify df name
df_ords = df_orders_cleaned

03 Merge Datasets

In [61]:
#Merge two orders dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [63]:
#check output
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [65]:
#count merge types
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [67]:
#Export combined dataset
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [69]:
#check shape for task
df_merged_large.shape

(32434489, 11)